
#News > .css-1oqqzyl-MuiContainer-root {
  overflow-x: hidden;
}

.scrolling-wrapper-flexbox {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  margin-top: 0.5rem;
  overflow-y: hidden;
}


hr {
  margin: 0px;
}

.news-divider {
  width: 32px;
  height: 6px;
  margin-bottom: 18px;
  background-color: var(--c-primary);
}

.scrolling-wrapper-flexbox .PostRow {
  flex: 0 0 auto;
}

#News {
  margin-top: "0.5rem";
  margin-bottom: 4rem;
}