.scrolling-wrapper-flexbox {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  margin-top: 0.5rem;
  overflow-y: hidden;
}

hr {
  margin: 0px;
}

.scrolling-wrapper-flexbox .PostRow {
  flex: 0 0 auto;
}

#News {
  margin-top: "0.5rem";
  margin-bottom: 4rem;
}