#Register {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
}

#Register img {
  max-width: 200px;
  display: block;
  margin: 0 auto;
}