#ClubSelector .clubItem {
  width: 75px;
  height: 75px;
  border-radius: 100%;
  margin: 0 auto;
  background-color: rgba(0, 0, 0, 0.201);
  padding: 0.5rem;
  border: none;
  transition: border 0.1s;
}

#ClubSelector .clubItem.selected {
  border: 2px solid white;
}

#ClubSelector h1 {
  margin-bottom: 0px;
  padding-bottom: 0px;
}

#ClubSelector {
  transition: background-color 0.25s;
}

#ClubSelector p {
  margin-bottom: 3rem;
}

#ClubSelector .main-content {
  position: absolute;
  top: 0;
  transition: background-color 0.25s;
}

#ClubSelector .bg-overlay-selector {
  height: 100vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.03;
}