.Notification {
    position: relative;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Notification.bg-secondary {
    background-color: #00000047;
}

.Notification .notification-actions {
    position: absolute;
    bottom: 12px;
    right: 0px;
}

.Notification .notification-actions * {
    margin-left: 0.25rem;
    margin-right:0.25rem;
    font-size: 1.35rem;
    color: white;
}

.Notification .notification-actions .eye-disabled {
    pointer-events: none;
    opacity: 0.25;  
}

.Notification-message {
    padding: 1rem;
}

.Notification-message p {
    color: var(--c-text);
    font-weight: 500;
    font-size: 1rem;
    margin: 0;
    width: 250px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


.Notification-message small {
    color: rgb(167, 167, 167);
}

.Notification a {
    text-decoration: none;
}